*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #353535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textShadow
{
    text-shadow: 0px 0px 2px #353535;
}

.topBanner{
    margin: 0px auto;
    background-color: #e29578;
    text-align: center;
}

.bottomBanner
{
    margin-top: 50px;
    background-color: #e29578;
    text-align: center;
    width: 100%;
}

.afterBanner{
    background-color:#edf6f9 ;
}

.prePhotoSection{
    margin: 0px auto;
    background-color:#edf6f9;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.introText{
    display: flex;
    flex-direction: column;
    padding: 10vh 0px;
    text-align: center;
    line-height: normal;
    width: 100%;
    justify-content: center;
}

.container{
    background: linear-gradient(#edf6f9,#efd3d7,#ffddd2);
    width: 100%;
    height: 205vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.swiper{
    margin-bottom: 50px;
    width: 50%;
    height: fit-content;
    justify-content: center;
}

.swiper2{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
    justify-content: center;

}

#vertical
{
    width: auto;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
}

#horizontal
{
    width: auto;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #83c5be;
}

.swiper .swiper-pagination-bullet-active{
    background: #83c5be;
}

#linkColor{
    color: #0000EE;
}