*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topBanner{
    margin: 0px auto;
    background-color: #e29578;
    text-align: center;
}

.bottomBanner
{
    margin-top: 50px;
    background-color: #e29578;
    text-align: center;
}

.introText{
    display: flex;
    flex-direction: column;
    padding: 10vh 0px;
    background-color:#edf6f9;
    text-align: center;
    line-height: normal;
}

.container{
    width: 100%;
    height: 300vh;
    background: linear-gradient(#edf6f9,#efd3d7,#ffddd2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.swiper{
    margin-top: 50px;
    width: 50%;
    height: fit-content;
    justify-content: center;
}

.swiper2{
    margin: 0 auto;
    margin-top: 50px;
    width: 150%;
    height: fit-content;

}



#vertical
{
    width: 90%;
    height: 130vh;
    margin-left: auto;
    margin-right: auto;
}

#horizontal
{
    width: auto;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #83c5be;
}

.swiper .swiper-pagination-bullet-active{
    background: #83c5be;
}

#text{
    color: #353535;
}

#linkColor{
    color: #0000EE;
}